main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textcontainer {
    max-width: 1200px;
    background-color: #d0d034;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    margin: 20px;
}

/* =========================
   CARD PERSONAGGIO
========================= */
.character-card {
    background: #2b2b2b;
    max-width: 900px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin: 20px;
    box-shadow: 0 4px 10px #00000066;
    display: flex;
    flex-direction: row;  
    gap: 20px;
    width: 100%;
}

.character-photo {
    width: 20%;
    max-width: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.character-info {
    width: 80%;
}

.character-info h2 {
    margin-bottom: 10px;
    color: crimson;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
    .character-header {
        flex-direction: column;
        align-items: center;
    }

    .character-photo {
        max-width: 100%;
    }

    .character-info {
        text-align: center;
    }
}